<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f5fcb4f311.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/cadastro.css">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Roboto&display=swap" rel="stylesheet">
    <title>Data Entregas</title>
</head>
<body>
    
    <header>
        <nav class="menu">
            <ul>
                <li><a href="./home.html"><i class="fas fa-home"></i></a></li>
                <li><a href="./cadastro.html"><i class="fas fa-user-alt"></i></a></li>
                <li><a href="./destino.html"><i class="fas fa-chart-line"></i></a></li>
            </ul>
        </nav>
        <div class="conteudo">
            <div>
                <a href="./home.html"><img class="logo" src="../media/dataEntregas.png" alt=""></a>
                <button class="perfil-usuario">CONECTAR</button>
            </div>
            <section>
                <div class="container">
                    <div>
                        <h1>CADASTRE-SE</h1>
                        <h2 class="container-subtitulo">E alavanque com suas taxas <BR> de entrega</h2>
                    </div>
                    <img class="cadastro" src="../media/Startup life-pana.svg" alt="">
                </div>
                <div class="container-conteudo">

                </div>
            </section>
        </div>
    </header>
    <section class="consultar">
        <div class="colunas">
            <div class="section-conteudo">
                <h2>CADASTRO</h2>
            </div>
            <div class="form">
                <label for="">NOME DA EMPRESA</label>
                <input class="input" type="text" placeholder="Empresa Tal">
            </div>
            <div class="form">
                <label for="">LOCALIDADE</label>
                <input class="input" type="text" placeholder="Rua Marques de Valença">
            </div>
            <div class="form">
                <label for="">EMAIL DE CONTATO</label>
                <input class="input" type="text" placeholder="EmpresaTal@mail.com">
            </div>
            <div class="form">
                <label for="">CEP</label>
                <input class="input" type="text" placeholder="00000-000">
            </div>
        </div>
        

    </section>
    
</body>
</html>