<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f5fcb4f311.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/destino.css">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Roboto&display=swap" rel="stylesheet">
    <title>Data Entregas</title>
</head>
<body>
    
    <header>
        <nav class="menu">
            <ul>
                <li><a href="./home.html"><i class="fas fa-home"></i></a></li>
                <li><a href="./cadastro.html"><i class="fas fa-user-alt"></i></a></li>
                <li><a href="./destino.html"><i class="fas fa-chart-line"></i></a></li>
            </ul>
        </nav>
        <div class="conteudo">
            <div>
                <img class="logo" src="../media/dataEntregas.png" alt="">
                <button class="perfil-usuario"></button>
            </div>
            <section>
                <div class="container">
                    <div>
                        <h1>DESTINO</h1>
                        <h2 class="container-subtitulo">MELHORES TAXAS DE ACORDO <br> COM SUA REGIAO</h2>
                    </div>
                    <img class="destino" src="../media/destino.svg" alt="">
                </div>
                <div class="container-conteudo">

                </div>
            </section>
        </div>
    </header>
    <section class="consultar">
        <div class="colunas">
            <div class="section-conteudo">
                <h2>NOME DA EMPRESA</h2>
                <h3>nos informe o endereço de destino</h3>
            </div>

            <div>
                <input type="text" placeholder="Rua">
            </div>

            <div>
                <input class="input" type="text" placeholder="Numero">
                <input class="input" type="text" placeholder="CEP">
            </div>

            <button type="submit">CONSULTAR</button>
        </div>
        

    </section>
    
</body>
</html>