<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f5fcb4f311.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/responsive.css">
    <title>Data Entregas</title>
</head>
<body>
    
    <header>
        <nav class="menu">
            <ul>
                <li><a href="./home.html"><i class="fas fa-home"></i></a></li>
                <li><a href="./cadastro.html"><i class="fas fa-user-alt"></i></a></li>
                <li><a href="./destino.html"><i class="fas fa-chart-line"></i></a></li>
            </ul>
        </nav>
        <div class="conteudo">
            <div>
                <img class="logo" src="../media/dataEntregas.png" alt="">
                <button class="perfil-usuario"></button>
            </div>
            <section>
                <div class="container">
                    <h1>DATA <br> ENTREGAS</h1>
                    <img class="entregador" src="../media/Messenger-pana.svg" alt="">
                </div>
                <div class="container-conteudo">
                    <p>Um serviço para ajudar pequenos negócios a sobreviver e crescer com o poder dos dados</p>
                </div>
            </section>
        </div>
    </header>
    <section class="consultar">
        <div class="colunas">
            <div class="section-conteudo">
                <h2>Nos informe seu <span style="color: #FF9F43">CNPJ</span> para que <br> possamos lhe oferecer a melhor <br> taxa de entrega para seu negócio!</h2>
                <img class="motoboy" src="../media/motoboy.png" alt="">
            </div>

            <div>
                <input type="text" placeholder="Digite o CNPJ da sua empresa">
                <button type="submit">CONSULTAR</button>
            </div>
        </div>
        

    </section>
    
</body>
</html>