@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F6FA;
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: #E0E0E0;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
    color: #333333;
}

h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    line-height: 90px;
    /* float: right; */
    /* margin-right: 50px; */
    margin-top: 20px;
    font-size: 50px;
    color: #333333
}

h3 {
    text-transform: uppercase;
    color: #FF9F43;
}

p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

i {
    color: #F4F6FA;
    padding: 20px;
    
}

i:hover {
    color: #FF9F43;
    
}

header {
    display: flex;
    flex-direction: row;
}

header nav.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF9F43;
    width: 64px;
    height: 100vh;
    position: fixed;
}

header nav.menu li {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-bottom: 80px;
    margin-left: 5px;
    transition: background-color 1s;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

header nav.menu li:hover {
    background-color: #FAFAFA;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}

header div.conteudo {
    display: flex;
    flex-direction: column;
}

header img.logo {
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
    cursor: pointer;
}

header button.perfil-usuario {
    background-color: #333333;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: 45px;
   
}

header section {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-end;
    /* height: 100vh; */
    width: 96vw;
}


header div.container {
    background-color: #ffffff;
    /* margin-left: 60px; */
    width: 93.5%;
    height: 280px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header div.container h2.container-subtitulo {
    line-height: 60px;
    text-align: center;
    /* margin-top: 10px; */
    font-size: 30px;
    color: #4F4F4F;
}

header div.container img.entregador {
    width: 330px;
    float: right;
    margin-right: 100px;
}

header div.container img.destino {
    width: 500px;
    margin-right: 100px;
}

header div.container-conteudo {
    background-color: #FF9F43;
    /* margin-left: 60px; */
    width: 93.5%;
    height: 100px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.consultar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* width: 100vw; */
}

section.consultar div.colunas {
    background-color: #ffffff;
    width: 90%;
    height: 40em;
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    
}

section.consultar div.colunas div.section-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.consultar div.colunas div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.consultar div.colunas div input {
    width: 50em;
    height: 3em;
    border-radius: 15px;
    border: none;
    background-color: #fafafa;
    font-size: 20px;
    text-indent: 60px;
    outline: none;
    margin-top: 5em;
}

section.consultar div.colunas div input.input {
    width: 24em;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

section.consultar div.colunas button {
    width: 13em;
    height: 3em;
    background-color: #FF9F43;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 100px;
    
}

section.consultar div.colunas button:hover {
    background-color: #e98222;
}


section.consultar div img.motoboy {
    width: 500px;
    margin-right: 100px;
}




